<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Playlist</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
<!-- <link rel="stylesheet" type="text/css" href="/css/simditor.css" /> -->
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
	rel="stylesheet">
	<link
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css"
	rel="stylesheet">
	
<script src="../theme/js/jquery.min.js"></script>
<script src="../theme/js/jquery-ui.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
<style>
.selected{
    background-color: gray!important;
    cursor:move;
}
</style>	
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css"
	rel="stylesheet">
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
</head>
<body>
	<h2>Unesi pesmu za plejlistu:</h2>
	<select>
		<option>Public</option>
	</select>
	<br>
	<br>
	<label for="url">Youtube id:</label>
	<input class="form-control" id="url" type="text" />
	<button onclick="getVideoDetails()">Popuni ostala polja</button>
	<br>
	<label for="title">Naslov:</label>
	<input class="form-control" id="title" type="text" />
	<label for="duration">Trajanje Videa(sekunde):</label>
	<input class="form-control" id="duration" type="text" />
	<button onclick="saveSong()">Sacuvaj</button>
	<br>
	<br>
	<div id="table_div"></div>
	<button class="btn btn-primary" id="convert-table">Azuriraj!</button>
	<div style="display:none" id="dialog-message" title="Brisanje pesme iz plejliste">
		<p>
			<span class="pom_text">Obrisi pesmu</span> <span id="title_vid"></span><span class="pom_text">?</span>
		</p>
	</div>
	<script type="text/javascript" th:inline="javascript">
       var appRoot = [[${appRoot}]];
	</script>
	<script type="text/javascript" src="/js/jquery.tabletojson.js"></script>
	<script type="text/javascript" src="/js/dynamicHtmlLib.js"></script>
	<script type="text/javascript" src="/js/admin/playlists.js"></script>
	<script>console</script>

</body>
</html>

